<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kubot26_pkgs">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0010724 1.5417E-05 0.0049666"
        rpy="0 0 0" />
      <mass
        value="2.308868" />
      <inertia
        ixx="0.011887"
        ixy="0.000000"
        ixz="0.000223"
        iyy="0.006649"
        iyz="-0.000002"
        izz="0.009457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/base_link_collision.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_Hip_pitch">
    <inertial>
      <origin
        xyz="4.5899E-05 0.00015259 -0.052562"
        rpy="0 0 0" />
      <mass
        value="0.208" />
      <inertia
        ixx="0.000131"
        ixy="0"
        ixz=" -0.000001"
        iyy="0.000133"
        iyz="0.000000"
        izz="0.000082" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_pitch_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0084798 0.058519 -0.067335"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_Hip_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.50"
      upper="0.150"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="L_Hip_roll">
    <inertial>
      <origin
        xyz="0.0095362 2.8384E-08 -0.036432"
        rpy="0 0 0" />
      <mass
        value="0.03741" />
      <inertia
        ixx="0.000030"
        ixy="0.000000"
        ixz="-0.000007"
        iyy="0.000046"
        iyz="0.000000"
        izz="0.000022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_roll_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 0.0002 -0.0756"
      rpy="0 0 0" />
    <parent
      link="L_Hip_pitch" />
    <child
      link="L_Hip_roll" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="L_Hip_yaw">
    <inertial>
      <origin
        xyz="-0.019742 5.0279E-05 -0.026799"
        rpy="0 0 0" />
      <mass
        value="0.35315" />
      <inertia
        ixx="0.000320"
        ixy="0.000001"
        ixz="-0.000008"
        iyy="0.000376"
        iyz="0.000000"
        izz="0.000167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hip_yaw_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0001 0 -0.0531"
      rpy="0 0 0" />
    <parent
      link="L_Hip_roll" />
    <child
      link="L_Hip_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="L_Knee_pitch">
    <inertial>
      <origin
        xyz="1.6376E-15 0.0001 -0.069133"
        rpy="0 0 0" />
      <mass
        value="0.04000" />
      <inertia
        ixx="0.000110"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000084"
        iyz="0.000000"
        izz="0.000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Knee_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Knee_pitch_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Knee_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0005 0 -0.0515"
      rpy="0 0 0" />
    <parent
      link="L_Hip_yaw" />
    <child
      link="L_Knee_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.25"
      upper="1.95"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="L_Ankle_pitch">
    <inertial>
      <origin
        xyz="-0.026062 5.2579E-05 0.015668"
        rpy="0 0 0" />
      <mass
        value="0.383379" />
      <inertia
        ixx="0.000171"
        ixy="0.000001"
        ixz="-0.000006"
        iyy="0.000444"
        iyz="-0.000001"
        izz="0.000395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Ankle_pitch_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.0001 -0.142"
      rpy="0 0 0" />
    <parent
      link="L_Knee_pitch" />
    <child
      link="L_Ankle_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="L_Ankle_roll">
    <inertial>
      <origin
        xyz="0.0584 -1.1774E-15 -0.015505"
        rpy="0 0 0" />
      <mass
        value="0.033000" />
      <inertia
        ixx="0.000011"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000039"
        iyz="0.000000"
        izz="0.000035" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Ankle_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.4 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Ankle_roll_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Ankle_roll_joint"
    type="revolute">
    <origin
      xyz="-0.0562 0 0"
      rpy="0 0 0" />
    <parent
      link="L_Ankle_pitch" />
    <child
      link="L_Ankle_roll" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="L_Foot">
    <inertial>
      <origin
        xyz="0.0045906 0.0001 0.0031858"
        rpy="0 0 0" />
      <mass
        value="0.07811" />
      <inertia
        ixx="0.000036"
        ixy="0.000000"
        ixz="0.000001"
        iyy="0.000143"
        iyz="0.000000"
        izz="0.000179" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Foot_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Foot_joint"
    type="fixed">
    <origin
      xyz="0.0557 -0.0001 -0.042"
      rpy="0 0 0" />
    <parent
      link="L_Ankle_roll" />
    <child
      link="L_Foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_Hip_pitch">
    <inertial>
      <origin
        xyz="4.5899E-05 -4.7411E-05 -0.052562"
        rpy="0 0 0" />
      <mass
        value="0.208000" />
      <inertia
        ixx="0.000131"
        ixy="0.000000"
        ixz="-0.000001"
        iyy="0.000133"
        iyz="0.000000"
        izz="0.000082" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_pitch_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0084798 -0.058481 -0.067335"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_Hip_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.15"
      upper="1.50"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="R_Hip_roll">
    <inertial>
      <origin
        xyz="0.0095362 2.8384E-08 -0.036432"
        rpy="0 0 0" />
      <mass
        value="0.037410" />
      <inertia
        ixx="0.000030"
        ixy="0.000000"
        ixz="-0.000007"
        iyy="0.000046"
        iyz="0.000000"
        izz="0.000022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_roll_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0756"
      rpy="0 0 0" />
    <parent
      link="R_Hip_pitch" />
    <child
      link="R_Hip_roll" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="8.4"
      velocity="4.71" />
  </joint>
  <link
    name="R_Hip_yaw">
    <inertial>
      <origin
        xyz="-0.019742 -5.0317E-05 -0.026802"
        rpy="0 0 0" />
      <mass
        value="0.353150" />
      <inertia
        ixx="0.000321"
        ixy="-0.000001"
        ixz="-0.000008"
        iyy="0.000376"
        iyz="0.000000"
        izz="0.000167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hip_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0001 0 -0.0531"
      rpy="0 0 0" />
    <parent
      link="R_Hip_roll" />
    <child
      link="R_Hip_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.6"
      upper="1.6"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Knee_pitch">
    <inertial>
      <origin
        xyz="1.3878E-17 -0.0001 -0.069133"
        rpy="0 0 0" />
      <mass
        value="0.040000" />
      <inertia
        ixx="0.000110"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000084"
        iyz="0.000000"
        izz="0.000032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Knee_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Knee_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Knee_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0005 0 -0.0515"
      rpy="0 0 0" />
    <parent
      link="R_Hip_yaw" />
    <child
      link="R_Knee_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.25"
      upper="1.95"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Ankle_pitch">
    <inertial>
      <origin
        xyz="-0.026066 -5.5883E-05 0.015668"
        rpy="0 0 0" />
      <mass
        value="0.383379" />
      <inertia
        ixx="0.000171"
        ixy="-0.000001"
        ixz="-0.000006"
        iyy="0.000444"
        iyz="0.000001"
        izz="0.000395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Ankle_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.0001 -0.142"
      rpy="0 0 0" />
    <parent
      link="R_Knee_pitch" />
    <child
      link="R_Ankle_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Ankle_roll">
    <inertial>
      <origin
        xyz="0.0584 1.3878E-17 -0.015505"
        rpy="0 0 0" />
      <mass
        value="0.033000" />
      <inertia
        ixx="0.000011"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000039"
        iyz="0.000000"
        izz="0.000035" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Ankle_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.4 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Ankle_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Ankle_roll_joint"
    type="revolute">
    <origin
      xyz="-0.0562 0 0"
      rpy="0 0 0" />
    <parent
      link="R_Ankle_pitch" />
    <child
      link="R_Ankle_roll" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.55"
      upper="1.55"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Foot">
    <inertial>
      <origin
        xyz="0.0045906 -0.0001 0.0031858"
        rpy="0 0 0" />
      <mass
        value="0.07811" />
      <inertia
        ixx="0.000036"
        ixy="0.000000"
        ixz="0.000001"
        iyy="0.000143"
        iyz="0.000000"
        izz="0.000179" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Foot_collision.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Foot_joint"
    type="fixed">
    <origin
      xyz="0.0557 0.0001 -0.042"
      rpy="0 0 0" />
    <parent
      link="R_Ankle_roll" />
    <child
      link="R_Foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_Shoulder_roll">
    <inertial>
      <origin
        xyz="-1.0078E-05 0.0072889 -0.05039"
        rpy="0 0 0" />
      <mass
        value="0.160600" />
      <inertia
        ixx="0.000079"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000084"
        iyz=" -0.000003"
        izz="0.000042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Shoulder_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Shoulder_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0029798 0.11877 0.052965"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_Shoulder_roll" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0.0"
      upper="3.20"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="L_Elbow_pitch">
    <inertial>
      <origin
        xyz="-0.003143 0.0001 -0.041627"
        rpy="0 0 0" />
      <mass
        value="0.04200" />
      <inertia
        ixx="0.000069"
        ixy="0.000000"
        ixz="-0.000004"
        iyy="0.000051"
        iyz="0.000000"
        izz="0.000036" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Elbow_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Elbow_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Elbow_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.008 -0.075687"
      rpy="0 0 0" />
    <parent
      link="L_Shoulder_roll" />
    <child
      link="L_Elbow_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="L_Hand_pitch">
    <inertial>
      <origin
        xyz="-1.9589E-06 7.6453E-05 -0.01116"
        rpy="0 0 0" />
      <mass
        value="0.081000" />
      <inertia
        ixx="0.000021"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000017"
        iyz="0.000000"
        izz="0.000013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hand_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/L_Hand_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hand_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0013072 -0.000375 -0.10058"
      rpy="0 0 0" />
    <parent
      link="L_Elbow_pitch" />
    <child
      link="L_Hand_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="2.5"
      velocity="5.76" />
  </joint>
  <link
    name="R_Shoulder_roll">
    <inertial>
      <origin
        xyz="0.00013985 -0.0072889 -0.05039"
        rpy="0 0 0" />
      <mass
        value="0.160600" />
      <inertia
        ixx="0.000079"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000084"
        iyz="0.000003"
        izz="0.000042" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Shoulder_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Shoulder_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0029798 -0.11873 0.052965"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_Shoulder_roll" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.20"
      upper="0.0"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Elbow_pitch">
    <inertial>
      <origin
        xyz="-0.003143 -0.0001 -0.041627"
        rpy="0 0 0" />
      <mass
        value="0.04200" />
      <inertia
        ixx="0.000069"
        ixy="0.000000"
        ixz="-0.000004"
        iyy="0.000051"
        iyz="0.000000"
        izz="0.000036" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Elbow_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Elbow_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Elbow_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0001 -0.008 -0.075687"
      rpy="0 0 0" />
    <parent
      link="R_Shoulder_roll" />
    <child
      link="R_Elbow_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="6.0"
      velocity="6.60" />
  </joint>
  <link
    name="R_Hand_pitch">
    <inertial>
      <origin
        xyz="1.9589E-06 -7.6453E-05 -0.01116"
        rpy="0 0 0" />
      <mass
        value="0.081000" />
      <inertia
        ixx="0.000021"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000017"
        iyz="0.000000"
        izz="0.000013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hand_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/R_Hand_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hand_pitch_joint"
    type="revolute">
    <origin
      xyz="-0.0013072 -0.0001 -0.10058"
      rpy="0 0 0" />
    <parent
      link="R_Elbow_pitch" />
    <child
      link="R_Hand_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="2.5"
      velocity="5.76" />
  </joint>
  <link
    name="Neck_yaw">
    <inertial>
      <origin
        xyz="1.3878E-17 -3.4694E-17 0.031083"
        rpy="0 0 0" />
      <mass
        value="0.038440" />
      <inertia
        ixx="0.000018"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000005"
        iyz="0.000000"
        izz="0.000017" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/Neck_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/Neck_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Neck_yaw_joint"
    type="revolute">
    <origin
      xyz="0.01348 1.9232E-05 0.063915"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Neck_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="2.5"
      velocity="5.76" />
  </joint>
  <link
    name="Head_pitch">
    <inertial>
      <origin
        xyz="0.0014333 -0.00024179 0.047365"
        rpy="0 0 0" />
      <mass
        value="0.318150" />
      <inertia
        ixx="0.000518"
        ixy="0.000000"
        ixz="0.000005"
        iyy="0.000201"
        iyz="0.000000"
        izz="0.000375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/Head_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot26_pkgs/meshes/Head_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Head_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.000475 0.04825"
      rpy="0 0 0" />
    <parent
      link="Neck_yaw" />
    <child
      link="Head_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.65"
      upper="2.00"
      effort="2.5"
      velocity="5.76" />
  </joint>
</robot>